<h2>Customers</h2>
<hr>

<%= render "customers_table_filter_options" %>

<%= render "customers_table" %>

<% if should_show_pagination(current_page, @customers) %>
  <%= render "shared/pagination_container", model: Customer, items: @customers, page: @page %>
<% end %>

<br>

<button class="button">
  <%= link_to 'New Customer', new_customer_path %>
</button>

<hr class="section-break">

<%= render "upload_customers_form" %>
